<p id="notice"><%= notice %></p>

<p>
  <strong>Dataevento:</strong>
  <%= @evento.dataEvento %>
</p>

<p>
  <strong>Horainicio:</strong>
  <%= @evento.horaInicio %>
</p>

<p>
  <strong>Horafim:</strong>
  <%= @evento.horaFim %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @evento.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @evento.longitude %>
</p>

<%= link_to 'Edit', edit_evento_path(@evento) %> |
<%= link_to 'Back', eventos_path %>
