<div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
  <header class="demo-drawer-header">
    <%= image_tag user_avatar(current_user), class: 'demo-avatar' %>
    <div class="demo-avatar-dropdown">
      <span><%= current_user.email %></span>
      <div class="mdl-layout-spacer"></div>
      <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
        <i class="material-icons" role="presentation">arrow_drop_down</i>
        <span class="visuallyhidden">Accounts</span>
      </button>
      <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
        <li class="mdl-menu__item">
          <%= link_to 'Minha conta', edit_user_registration_path %>
        </li>
        <li class="mdl-menu__item">
          <%= link_to 'Sair', destroy_user_session_path, method: :delete %>
        </li>
      </ul>
    </div>
  </header>
  <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
    <%= link_to root_path, class: 'mdl-navigation__link' do %>
      <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>
      Home
    <% end %>
    <%= link_to eventos_path, class: 'mdl-navigation__link' do %>
      <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">inbox</i>
      Eventos
    <% end %>
    <a class="mdl-navigation__link" href="">
      <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">delete</i>
      Bonificações
    </a>
    <div class="mdl-layout-spacer"></div>
    <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">help_outline</i><span class="visuallyhidden">Help</span></a>
  </nav>
</div>
